body{
	background-color:#ffd1dc;
	user-select: none;
	-ms-user-select: none;
}
.console{
  font-family: serif;
  color: white;
  font-size: 1.1em;
  padding-top: 15px;
  padding-left: 5px;
}
label{
	padding-right: 0;
}
input{
	background-color: black;
	border-radius: 0;
	border: 0 solid black;
	padding: 0 0;
}
input:focus{
	outline-width: 0;
}
